/***************************************************/
/* GENERAL STYLING */
/* Please do not change ^_^ */
/***************************************************/

* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: normal;
}

h3 {
  font-weight: bold;
  margin-bottom: 4px;
  font-weight: bold;
}

.post-it {
  box-shadow: 0 8px 6px -6px black;
  list-style: none;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

#james-sample {
  aspect-ratio: 1 / 1;
  height: 200px;
  background-color: #FF6F91;
  rotate: 6deg;
}

.dashboard-frame {
  background-image: url("wood-texture.jpeg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-area {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  background: radial-gradient(#127658, #052821);
  box-shadow: inset 0 0 10px #000000;
  overflow: auto;
  display: grid;
  grid-template-rows: 0.5fr repeat(2, 1fr);
}

.dashboard--heading {
  margin-top: 30px;
  text-align: center;
  align-self: center;
  color: #fff;
  font-size: 3rem;
  transform: rotate(-2deg);
}

.dashboard--selectors,
.dashboard--properties,
.dashboard--layouts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard--selectors h2,
.dashboard--properties h2,
.dashboard--layouts h2 {
  color: #fff;
  border-bottom: 1px dashed #fff;
  width: 150px;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  margin: 30px 0;
}

.dashboard--selectors h2 {
  transform: rotate(-2.5deg);
}

.dashboard--properties h2 {
  transform: rotate(3deg);
}

.dashboard--layouts h2 {
  transform: rotate(1.5deg);
}



/***************************************************/
/* SELECTORS */
/***************************************************/
/* Put Selector post-it styles here! ↓ */
#JoshBamford {
  aspect-ratio: 1;
  height: 200px;
  background-color: #E0EA87;
}

.ID {
  font-weight: bold;
  rotate: -5deg;
}


#paul-spencer {
  width: 200px;
  aspect-ratio: 1/1;  
}
#paul-spencer {
  background-color: #E0EA87;
  transform:rotate(-6deg)
}

#paul-spencer h3 {
  font-weight: bold;
}


#George {
  background-color: #E0EA87;
  height: 200px;
  aspect-ratio: 1/1;
  rotate: 4deg;
}
#George H3 {
  font-weight: bold;

/* Put Selector post-it styles here! ↓ */

#yan-fung {
  height: 200px;
  width: 200px;
  background-color: #FF6F91;
  transform: rotate(12deg) ;
  list-style: none;
}

#yan-fung h3 {
  font-weight: bold;
}

#JoshBamford {
  aspect-ratio: 1;
  height: 200px;
  background-color: #E0EA87;

  rotate: -5deg;
  

}

.ID {
  font-weight: bold;
  rotate: -5deg;
}


#carla-slattery {
  background-color: #e0ea87;
  height: 200px;
  width: 200px;
  transform: rotate(-2.5deg);
}

#carla-slattery h3 {
  font-weight: bold;
}


.post-it-info {
  rotate: -5deg;
}


#jamesgoodman {
  aspect-ratio: 1;
  height: 200px;
  width: 200px;
  background-color: #E0EA87;
  rotate: -5deg; 
}
#jamesgoodman h3 {
  font-weight: bold;
}


/***************************************************/
/* PROPERTIES */
/***************************************************/
/* Put Property post-it styles here! ↓ */

#Rayhan {
  aspect-ratio: 1/1;
  background-color: #FF6F91;
  height: 200px;
  transform: rotate(7deg);
}
#Rayhan h3 {
  font-weight: bold ;
}
#carlos-marfil {
  aspect-ratio: 1/1;
  height: 200px;
  background-color: #FF6F91;
  transform: rotate(4.5deg);
}

#carlos-marfil h3 {
  font-weight:bold;
  align-self: center;
  padding-bottom:14%;
}

#hj-kang {
  aspect-ratio: 1 / 1;
  height: 200px;
  background-color: #FF6F91;
  transform: rotate(10deg);
}

#hj-kang > h3 {
  font-weight: bold;
}


#lukas-buzius h3 {
  font-weight: bolder;
}

#lukas-buzius {
  aspect-ratio: 1/1;
  height: 200px;
  background-color: #ff6f91;
  top: 450px;
  right: 650px;
  transform: rotate(-9deg);
}


/***************************************************/
/* LAYOUTS */
/***************************************************/
/* Put Layout post-it styles here! ↓ */
#harrylomas {
  aspect-ratio: 1 / 1;
  height: 200px;
  width: 200px;
  background-color:#0089BA;
  transform: rotate(-4deg);

}
#harrylomas > h3
{
  font-weight:bold;
}



#jamie-c
{
  aspect-ratio: 1 / 1;
  background-color: #0089BA;
  height: 200px;
  width: 200px;
  transform: rotate(-4deg);
  font-size:14.5px;
}

#jamie-c > h3
{
  font-weight: bold;
}


.post-it#daniel-hancox h3 {
  font-weight: bold;
}
#daniel-hancox  {
  aspect-ratio: 1/1;
  height: 200px;
  width: 200px;
  background-color: #0089BA;
  transform: rotate(7deg);
  box-shadow: -5px 5px 30px 5px #292929;
  outline: 1px solid black;
  font-size: 25px
}

.post-it#oliveroquist {
  aspect-ratio: 1 / 1;
  height: 200px;
  transform: rotate(15deg);
  background-color: #0089BA
}

/***************************************************/
/* MEDIA QUERIES TO ENSURE RESPONSIVENESS */
/* Please do not change ^_^ */
/***************************************************/

@media screen and (min-width: 768px) {
  .dashboard-area {
    display: grid;
    grid-template-rows: 0.5fr repeat(2, 1fr);
    grid-template-areas:
      "Heading Heading Heading"
      "Selectors Properties Layouts"
      "Selectors Properties Layouts";
  }

  .dashboard--heading {
    grid-area: Heading;
  }

  .dashboard--selectors {
    grid-area: Selectors;
  }

  .dashboard--properties {
    grid-area: Properties;
  }

  .dashboard--layouts {
    grid-area: Layouts;
  }
}
